# We can probably do without all of each other's tests.
# I also added a .placeholder file under tests/ so that tests/ will still be 
# tracked.
tests/*
!tests/.placeholder

# PyInstaller related files
build/
dist/
/*.spec
pycypa-*

# Python generated craps
**/__pycache__
